<div class="photo-card">
  <a class="photo-card__link" href="${largeImageURL}"></a>
  <img class="photo-card__image" src="{{webformatURL}}" alt="{{tags}}" loading="lazy" />
  <div class="info">
    <p class="info-item">
      <b>{{likes}}</b>
    </p>
    <p class="info-item">
      <b>{{views}}</b>
    </p>
    <p class="info-item">
      <b>{{comments}}</b>
    </p>
    <p class="info-item">
      <b>{{downloads}}</b>
    </p>
  </div>
  </a>
</div>